
.contact-form{
  padding: 5% 25%;
}
.contact-form form{
  background-color: #fff;
  padding: 5%;
  line-height: 2;
  box-shadow: 0px 0px 50px #888888;
  border-radius: 2%;
}
.contact-form label::after{
  content: "*";
  color: red;
  margin-left: 5px;
}

.contact-form button{
  margin-top: 1%;
}
.contact-form button:hover{
  color: white;
}
